<header>
  <h1>AUTOSALON</h1>
</header>

<div class='container'>
<img src="/image/"
  <div>color: {{this.color}} </div>
<div>horsepower: {{this.horsepower}} </div>
<div>price: {{this.price}} </div>
  <button>buy</button>
  <button>next</button>
  <button class='find-button'>FIND CARS!</button>
</div>
